@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;400;500;700;900&display=swap');

.topic-container
{
    width: 100%;
    max-width: 900px;
    margin: 0%;
    padding: 0px;
    border-radius: 8px;
}
.topic-list{
    margin-top: 1%;
    margin-right: 0%;
    width: 100%;
    display: flex;
}
.topic-detail{
    width: 100%;
    margin: 0%;
}
.topic-list::-webkit-scrollbar {
    display: none;
  }
.topic-image{
    min-width:60% ;
    border-radius: 5%;
    margin: 0%;
}
.topic-text-detail
{
    /* margin-right: 1px; */
}
.topic-image:hover
{
    cursor: pointer;
    mask-image: url('../assests/play.png');
    mask-position: center;
    mask-size: 30%;
    mask-repeat: no-repeat;
}
.topic-info{
    margin: 1%;
    font-family: Inter,'sans-serif';
    font-weight: 300;
    font-size: x-small;
}
.topic-name{
    font-family: Inter,'sans-serif';
    font-weight: 500;
    font-size: small;
    margin: 0%;
    margin-top: 2%;
}

.scoresheet{
    display: flex;
    column-gap: 10%;
}
.marks{
    min-width: 20%;
    margin-left: -18%;
    align-items: center;
    justify-content: center;
    background-color: #454545;
    border-radius: 0px 10px 10px 0px;
    display: flex;
}
.score-text{
    color: #454545;
    font-family: Inter,'sans-serif';
    font-weight: 900;
    font-size: 200%;
    margin-left: -4%;
    margin-right: 0%;
    z-index: 1;
    transform: rotate(-90deg);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 0.6%;
    padding-right: 0.6%;
    padding-top: 1%;
}
.score-number{
    color: aliceblue;
    font-family: Inter,'sans-serif';
    font-weight: 600;
    font-size: larger;
}
.grade{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    min-width: 40%;
    width:20%;
    text-align: center;
    align-self:flex-start;
    font-family: Inter,'sans-serif';
    font-weight: 900;
    font-size: 200%;
    background-color:#24FF00;
    color: #454545;
}
.grade:hover{
    cursor: pointer;
    background-color:#24FF00;
    color: #ffffff;
}
.heading-path{
    font-family: Inter,'sans-serif';
    font-weight: 600;
    font-size: large;
    margin: 0%;
    margin-top: 2%;
}
.dash_but{
    background-color: transparent;
    border-radius: 10px;
    border-width: 1px;
    padding: 10% 15% 10% 15%;
    margin-left: 450%;
    cursor: pointer;
}