@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;400;500;700;900&display=swap');

.q-container{
    width:80%;
    height: 40px;
    margin: auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding:40px 50px;
}

.q-container hr{
    height: 2px;
    border: none;
    background: #707070;
}

.q-container .que h2{
    font-size: 27px;
    font-weight: 400;
    margin-top: 20px;
    font-family: Inter,'sans-serif';
    margin-left: 20px;
    color: white;
}

.q-container .que{
    height: 200px;
    background-color: #454545;
    border-radius: 12px;
    margin-bottom: 50px;
    font-family: Inter,'sans-serif';
    font-size: large;
    align-items: center;
}

.q-container ul li{
    font-family: Inter,'sans-serif';
    display: flex;
    align-items: center;
    height: 50px;
    width: 50%;
    padding-left: 15px;
    border:  1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size:medium;
    cursor: pointer;
}

.q-container button{
    width: 15%;
    height: 40px;
    background: #24e007;
    border: #24FF00;
    color: #fff;
    font-family: Inter,'sans-serif';
    font-size: medium;
    font-weight: 400;
    border-radius: 9px;
    cursor: pointer;
    
}
.q-container button:hover {
    background: green;
    border: green;
}

.q-container .index{
    margin: auto;
    font-size: 18px;
}

.q-container .correct{
    background: #dffff2;
    border-color: #00d397;
}

.q-container .wrong{
    background: #FFEBEB;
    border-color: #FF4A4A;
}
.q-container .bottom{
    display: flex;
    column-gap: 70%;
}