@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;400;500;700;900&display=swap');

.formcontainer{
    width: 100%;
    display: flex;
    column-gap: 10%;
}
.suggestion-topic-container
{
    width: 100%;
    padding: 4px;
    border-radius: 8px;
}
.suggestion-topic-detail{
    padding-right: 3%;
    margin: 1px;
    display: flex;
    column-gap: 10%;
    margin-bottom: 5%;
    width: 90%;
}
.suggestion-topic-container::-webkit-scrollbar {
    display: none;
  }
.suggestion-topic-image{
    width: 33%;
    height : 100px;
    border-radius: 10px;
}
.suggestion-topic-image:hover
{
    cursor: pointer;
    mask-image: url('../assests/play.png');
    mask-position: center;
    mask-size: 30%;
    mask-repeat: no-repeat;
}
.suggestion-topic-info{
    margin: 1%;
    font-family: Inter,'sans-serif';
    font-weight: 300;
    font-size: small;
}
.suggestion-topic-name{
    font-family: Inter,'sans-serif';
    font-weight: 500;
    font-size: medium;
    margin: 0%;
    margin-top: 8%;
    margin-bottom: 5%;
}
.course-heading{
    font-family: Inter,'sans-serif';
    font-weight: 600;
    font-size: large;
    margin: 0%;
    margin-bottom: 5%;
}
.form{
    margin-left: 5%;
    width: 50%;
    height: fit-content;
}
.back{
    margin-left: 1%;
    width: 5%;
    font-family: Inter,'sans-serif';
    font-weight: 300;
    font-size: small;
    cursor: pointer;
}
.getbut{
    color: rgb(34, 34, 34);
    background-color: #24FF00;
    border-style: none;
    margin-top: 5%;
    padding:8%;
    width: 100%;
    border-radius: 10px;
    font-family: Inter,'sans-serif';
    font-weight: 500;
    font-size: small;
    cursor: pointer;
}